// *******COLOR************
$color_main: #22262a;
$color_accent: rgba(207, 41, 41, 1);
// *******FONT-COLOR*********
$f-color_default: black;
$f-color_main: black;
$f-color_accent: black;
//*****FONT-SIZE*********
$f-size_15: 15px;
$f-size_18: 18px;
$f-size_80: 80px;
$f-size_20: 20px;
//*****FONT-WEIHT**** 
$weight_regular:400;
$weight_medium:500;
$weight_semiBold:600;
$weight_bold:700;
//*****COTAINER****
$container-size: 1170px;
$maxWidth: 1600;